@import variables

nav
    padding: 0 10px 0 10px
    display: flex
    flex-wrap: wrap
    background-color: $nav-header
    height: 50px
    justify-content: space-between
    align-items: center
    box-shadow: 0 0 5px 0 gray


nav > a:hover
    color: $green-mate

header 
    margin: 0 auto

@media (max-width: 650px)
    .dissapear
        display: none