@import variables

$rounded: 7px
$bg-c: $green-mate
$padding: 10px

.btn
    background-color: $bg-c
    padding: $padding
    border-radius: $rounded

input
    border-radius: $rounded
    padding: $padding
    border: none
    width: 100px
    transition: all 0.3s ease

input:focus
    width: 200px
    @media (max-width: 700px)
        width: 100px

.rounded-elem
    border-radius: 10px

.stick
    position: sticky
    top: 0